* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active, a:visited {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: "Segoe UI", "Calibri", sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
    background: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

.wrapper {
    background: url(../img/background.jpg) no-repeat center center fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}

#canvas {
    display: block;
    margin: 0 auto;
    max-height: 550px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #009cff;
    border-radius: 15px;
    padding: 10px;
    margin-right: 15px;
    height: 100%;
}

.mem-params {
    margin-top: 20px;
    padding: 15px 10px 0 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.mem-params label {
    margin-bottom: 10px;
}

[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="file"] {
    font-size: 16px;
}

#saveButton {
    margin-top: 20px;
}


label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
}