body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 40px;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid #fff;
}

#start-game {
    font-size: 22px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.score-container {
    font-size: 32px;
    gap: 15px;
    display: flex;
    flex-direction: row;
}

#score {
    color: red;
}

#tetris {
    margin-right: 20px;
    margin-left: 20px;
}