.container {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container h1 {
    font-size: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 320px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fuggles', cursive;
    font-size: 100px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
}

.victory {
    font-size: 30px;
    color: #3e8e41;
}

.draw {
    font-size: 30px;
    color: chocolate;
}

#player {
    font-size: 24px;
}

#restart {
    background-color: cornsilk;
    font-size: 22px;
    border-radius: 10px;
    height: 2em;
    cursor: pointer;
}

.win {
    background-color: #aaffaa;
}